world/
x64/
settings.ini
tileObjects.json
.vs/TilesEditor/FileContentIndex/3cac9e82-caca-43d2-b586-bdf86d19c2cd.vsidx
.vs/TilesEditor/FileContentIndex/651860d1-f1b1-4bb3-b6a5-d28ffc28d67a.vsidx
.vs/TilesEditor/FileContentIndex/7bafef92-dcd4-4b0d-bfda-39ddd58f6bdb.vsidx
.vs/TilesEditor/FileContentIndex/7dc38a26-2151-4271-a184-39fd30ceb867.vsidx
.vs/TilesEditor/FileContentIndex/read.lock
.vs/TilesEditor/v17/.suo
.vs/TilesEditor/v17/Browse.VC.db
.vs/TilesEditor/v17/Browse.VC.db-shm
.vs/TilesEditor/v17/Browse.VC.db-wal
.vs/TilesEditor/v17/Browse.VC.opendb
.vs/TilesEditor/v17/fileList.bin
.vs/TilesEditor/v17/ipch/AutoPCH/1721a54c41c3e1c5/EDITANONYMOUSNPC.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/1a52b12db455e4cf/EDITANONYMOUSNPC.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/2375b936ea716a59/LEVEL.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/2d93b5a82a682c72/RESOURCEMANAGER.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/33b65aa4f6efc287/MOC_EDITORTABWIDGET.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/4196964c47a32e23/OBJECTSWIDGET.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/4268617d160ed41c/OBJECTSELECTION.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/430cedb01630ccbd/EDITSIGNSDIALOG.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/5b4ec9363568225c/MAIN.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/62e95daf36a9cdda/LEVELNPC.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/704a9764fde86dde/IMAGE.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/7e5704b34456078f/TILEGROUPMODEL.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/9a77f2e36e12d924/RESOURCEMANAGER.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/a51e88126e97b4a1/EDITORTABWIDGET.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/ac6708adb234b073/GRAPHICSVIEW.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/acbf689a35fa2180/LEVELNPC.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/af71ea79145e91c7/EDITORTABWIDGET.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/b100bef4ef5edd29/OVERWORLD.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/b31750428710d486/MAINWINDOW.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/bdc0a3be2cae79c7/TILEGROUPLISTMODEL.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/c656a96fdb455d4e/MAIN.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/cf059cc799874c87/OVERWORLD.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/d87118e568d4dbdb/LEVEL.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/ed3088571a795d57/OBJECTLISTMODEL.ipch
.vs/TilesEditor/FileContentIndex/3fb3a0bc-504e-42cd-a950-77dd8693f9f3.vsidx
.vs/TilesEditor/v17/ipch/AutoPCH/854fe989f6bf312b/IMAGEDIMENSIONS.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/51215f0d4f5179e1/LEVELLINK.ipch
.vs/TilesEditor/v17/ipch/AutoPCH/4ca5ef65adeb3fc/LEVELSIGN.ipch
.vs/TilesEditor/FileContentIndex/e59f2221-5e16-4de7-9b8b-b81058c4c35c.vsidx
.vs/TilesEditor/FileContentIndex/6ab61088-b95a-4963-ae69-4fca57a15b81.vsidx
.vs/TilesEditor/FileContentIndex/651f8b3e-7917-4fc5-ba17-ee0df8080464.vsidx
.vs/TilesEditor/FileContentIndex/569ccadd-ae49-4eec-955c-7a0374229d55.vsidx
.qmake.stash
