world/
x64/
.idea/
.vs/
.qmake.stash
build/
dist/
cmake-*/
release/
.py
settings.ini
tileObjects.json
TilesEditor.vcxproj.filters
TilesEditor.vcxproj.user
TilesEditor.exe
pics1.json
fdsf.json
pics1.png
pics2.png
dddd.json
zlttp_tiles_lightworld_day.png
zlttp_tiles_lightworld_day.png
